.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		border-radius: 10px;
		background-color: $color__link;
		height: 40px;
		padding-top: 10px;
	}
	.nav-previous a {
		text-decoration: none;
		color: white;
		height: 40px;
		padding: 30px;
		cursor: pointer;
	}
	.nav-previous:hover {
		background-color: $color__link-hover;
	}
	.nav-next {
		float: right;
		border-radius: 10px;
		background-color: $color__link;
		height: 40px;
		padding-top: 10px;
	}
	.nav-next a {
		text-decoration: none;
		color: white;
		height: 40px;
		padding: 30px;
		cursor: pointer;
	}
	.nav-next:hover {
		background-color: $color__link-hover;
	}
}
